#project-tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12% 2%;

    margin-bottom: 10%;

    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

.project-tile {
    aspect-ratio: 6 / 5;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;

    position: relative;
    cursor: pointer;
}

.project-tile.hover-effect {
    transform: scale(1.25);
    z-index: 10;
}


.project-tile h3 {
    border-bottom: 0.25vh solid var(--tertiary-color);
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 5% 0%;
    text-align: center;
    font-weight: normal;

}

.project-tile-details h4 {
    border-bottom: 0.25vh dotted var(--tertiary-color);
    margin: 0% 4.5% 0% 2%;
    padding: 11% 0% 5% 0%;

    text-align: center;
    font-weight: normal;
}

.project-tile-showcase {
    width: 58.5%;
    background-color: var(--secondary-color);
    border-radius: 2%;

    display: flex;
    flex-direction: column;

    z-index: 1;

}

.project-tile-showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.project-tile-details {
    align-self: center;
    height: 95%;
    width: 42.5%;

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    --svg-url: url('../images/shapes/contributionsBox.svg');
    --svg-fill:  var(--primary-color);
    --svg-fill-secondary: var(--tertiary-color);
}




.project-tile-details div {
    text-align: left;
    text-indent: -12%;
    padding: 0% 4% 15% 15%;
}

.project-tile-details p {
    font-size: var(--font-size-small);
}

.project-tile-details p::first-line {
    text-indent: 0%;
}

.project-tile-date {
    background-color: var(--tertiary-color);
    padding: 2% 2% 2% 2%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    z-index: -1;

    position: absolute;
    top: 50%;
    left: 5%;

    transition: top 0.3s ease-in-out;
}

.project-tile.hover-effect .project-tile-date {
    top:99%;
}