:root {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

    --background-color: rgb(39, 24, 56);
    
    --primary-color: rgb(63, 42, 87);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: rgb(31, 15, 53);

    scrollbar-color: var(--primary-color) var(--secondary-color);

    --font-size-xl: 3rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1rem;
    --font-size-p: 0.75rem;
    --font-size-small: 0.5rem;
}

@media (min-width: 80em)
{
    :root {
        --font-size-xl: 4rem;
        --font-size-h1: 2.75rem;
        --font-size-h2: 1.75rem;
        --font-size-h3: 1.5rem;
        --font-size-h4: 1.2rem;
        --font-size-p: 1.1rem;
        --font-size-small: 0.8rem;
    }
}


::-webkit-scrollbar {
    width: 1.25vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(47, 34, 65); 
    border: 0.3vw solid var(--background-color);
    border-radius: 1.5vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: white;
    display: flex;
}

h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: normal;
    border-bottom: 2px white dashed;
    padding-bottom: 1%;
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-p);
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin-left: var(--sidebar-width);
    width: 100%;
    padding: 2% 5% 0% 5%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: left;
}

main h1 {
    text-align: center;
    font-size: var(--font-size-xl);
    margin-top: 2%;
    
    padding-bottom: 1%;
    border-bottom: 2px solid white; 
}

.infobox {

    display: flex;
    flex-direction: column;
    flex: 1;


    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0% 2% 1% 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left:1%;
    margin-right:1%;
}

p a {
    border-bottom: 1px white dotted;
}

p a:hover {
    border-bottom: 1px white solid;
}


.intro {
    min-height: 28rem;
}

main .infobox h1 {
    border-bottom: none;
    margin-bottom: 0px;
    font-size: var(--font-size-h1);
}

.bar {
    background-color: var(--background-color);
    padding: 2% 2% 2% 2%;

    min-height: 10%;
}

.image-row {
    display:flex;
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    height: 6rem;
    margin-bottom: 2%;
    justify-content: center;
}

@media (min-width: 80em)
{
    .image-row {
        height: 10rem;
    }
}

.image-row img {
    flex: 1 1 auto;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;

    padding: 1rem;
    object-fit: contain;
}

.image-row a {
    align-items: center;
    display: flex;
    margin: 0% 5%;
}

iframe {
    flex: 2.25;
    border-radius: 2rem;
    margin: 0% 1%;
}

.infobox iframe {
    margin: 2% 0%;
    flex: 1.4;
    border-radius: 2rem;
}

.infobox img {
    flex: 0.5f;
    align-self: center;

    border-radius: 0.5rem;
}

.title-image {
    width: 100%;
    height: 25vh;

    margin-bottom: -2%;

    object-fit: contain;
    vertical-align: center;
}


.float-title {
    width: 100%;
    height: 40vh;
    margin-top: -3%;
    margin-bottom: 0%;

    object-fit: contain;
    vertical-align: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.highlight {
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    padding: 1% 2% 1% 2%;

    margin: 1.5% 0%;
    
}

.info-grid {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--tertiary-color);
    margin-top: 5%;

    border-radius: 1rem;
}

.info-grid h3 {
    grid-column-start: 1;
    grid-column-end: 3;

    border: 1px solid var(--tertiary-color);
    text-align: center;
    padding: 2%;
    margin: 0%;

    border-radius: 1rem 1rem 0 0;

}

.info-grid p {
    border: 1px solid var(--tertiary-color);
    padding: 5px;
    margin: 0%;
    vertical-align: center;
    
}

.info-grid > div {
    border: 1px solid var(--tertiary-color);
}

.info-grid div p {
    border: 0px;
}

.info-grid .bottom-right {
    border-radius: 0 0 1rem 0;
}

.info-grid .bottom-left {
    border-radius: 0 0 0 1rem;
}


.top-align {
    vertical-align: top;
}

.no-top-margin {
    margin-top: 0%;
}

#credits p {
    margin: 2% 0%;
}

#credits h1 {
    margin-bottom: -2rem;
}
#credits h2 {
    margin-top: 2rem;
}

.diagram {
    flex: 1;
    border: 1px solid white;

    padding: 0rem 1rem 1rem 1rem;
    margin: 0rem 0rem 0rem 1rem;

    vertical-align: center;
}

.text-column {
    margin-left: 1rem;
}

.button {
    background-color: var(--secondary-color);
    border-radius: 2rem;

    margin: 0.5rem;
    padding: 1rem;
}

.button:hover {
    background-color: var(--primary-color);
}